<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <h:head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE-edge" />
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <h:outputStylesheet library="css" name="style.css"></h:outputStylesheet>
    </h:head>

    <h:body>
        <div class="container-fluid firstContainer">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <center><img alt="Logo UNPAS" src="resources/assets/logo-unpas.png" class="logo"/></center>
                    </div>
                    <div class="col-md-5">
                        <div class="title">
                            <h2>
                                Kehadiran Universitas Pasundan
                            </h2>          
                        </div>          
                    </div>
                </div>
                <div class="mini-title">
                    <h6>BERANDA</h6>
                </div>
            </div>
        </div>

        <div class="container-fluid secondContainer">
            <div class="row">
                <div class="col-md-3">
                    <div class="leftSide">
                        <center><img alt="Profil Picture" src="resources/assets/profil-picture.png" class="img-circle" /></center>
                        <form role="form">
                            <div class="form-group">

                                <center><label for="exampleInputEmail1">
                                        Nama Pengguna
                                    </label></center>
                                <center><input type="email" class="form-control" id="InputEmail1" /></center>
                            </div>
                            <div class="form-group">

                                <center><label for="exampleInputPassword1">
                                        Kata Sandi
                                    </label></center>
                                <center><input type="password" class="form-control" id="InputPassword1" /></center>
                            </div>

                            <div class="checkbox">
                                <center><button type="submit" class="btn btn-default">
                                        Masuk
                                    </button></center>
                            </div> 

                        </form>
                    </div>
                </div>
                <div class="col-md-9">
                <div class="headerCarousel">
                    <center><h3>
                        Statistik Kehadiran Mahasiswa <br />
                        Teknik Informatika <br />
                        Universitas Pasundan
                    </h3></center>
                    </div>
                    <div class="carousel slide" id="carousel-282564">
                        <ol class="carousel-indicators">
                            <li class="active" data-slide-to="0" data-target="#carousel-282564">
                            </li>
                            <li data-slide-to="1" data-target="#carousel-282564">
                            </li>
                            <li data-slide-to="2" data-target="#carousel-282564">
                            </li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img alt="Statistik 1" src="resources/assets/statistik3.png" />
                            </div>
                            <div class="item">
                                <img alt="Statistik 2" src="resources/assets/statistik2.jpg" />
                            </div>
                            <div class="item">
                                <img alt="Statistik 3" src="resources/assets/statistik.png" />
                            </div>
                        </div> <a class="left carousel-control" href="#carousel-282564" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-282564" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>
                </div>
            </div>
        </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="resources/js/bootstrap.min.js"></script>
<script src="resources/js/docs.min.js"></script>
    </h:body>

</html>