/*!
	cara comment
*/

.logo {
	width: 100px;
	margin-top: 10px;
	margin-bottom: -10px
}

.col-md-5 .title {
	margin-top:40px;
	text-align: center;
}

.mini-title {
	text-align: center;
}

.img-circle {
	width: 100px;
	margin-top: 10px;
}

.firstContainer {
	background-color: #02BBD2;
	color: white;
}

.secondContainer {
	margin-top: 20px;
}

.leftSide {
	padding-top:20px;
	background-color: #00FFFF;
	height:350px;
}

.form-control {
	width: 80%;
}

.form-group {
	margin-top: 10px;
}

.checkbox {
	margin-left: -20px;
}

.btn-default {
	background-color: #08AE9E;
	width: 80%;
}

.carousel {
	height: 400px;
}

.headerCarousel {
	margin-top: -10px;
}

.carousel-inner .item {
	width: 1000px;
	height: 500px;
}